<div class="container-fluid bg-2 text-center">
<h3>My clients</h3>
<div>
  {{#each client}}
<li>{{this.first_name}} {{this.last_name}} | {{this.email}} | {{this.phone_number}} | {{this.notes}} | <form action="/coaches/{{../id}}/delete?_id={{this._id}}" method="POST"><input type="submit" value="Delete" class="btn btn-primary"></form></li>
{{/each}}
</div>
<a href="/coaches/{{id}}/clients/new">
  <!-- turns it into a button -->
  <input type="submit" value="Add" class="btn btn-primary">
</a>
