<div class="container-fluid bg-2 text-center">
My clients
<div>
  {{#each client}}
<li>{{this.first_name}} {{this.last_name}}{{this.email}}{{this.phone_number}}{{this.notes}}</li>
{{/each}}
</div>
<a href="/coaches/{{id}}/clients/new">
  <!-- turns it into a button -->
  <input type="submit" value="Add" class="btn btn-primary">
</a>
<!-- Adds a delete button -->
<!-- <ul>
  {{#each client}}
  <br>
  <form action="/clients/{{@index}}?_method=DELETE"
  method="POST">
  <input type="submit" value="DELETE" class="btn btn-primary"/>
</form>
{{/each}}
</ul> -->
