<!-- Need to set up Users page...Confirm
<h1>{{user.username}}'s Coaches Page</h1>
<ul>
	{{#each user.list}}
		<li>Name: <a href="/users/{{../user.id}}/lists/{{this.id}}/edit">{{this.name}}</a></li>
		<li>Completed: {{this.completed}}</li>
		<form action="/users/{{../user.id}}/lists/{{this.id}}?_method=DELETE" method="POST">
			<input type="submit" value="Delete This">
		</form>
		<br>
	{{/each}}
</ul>
<form action="/users/{{user.id}}/lists" method="POST">
	<div>
		<label for="name">Name: </label>
		<input type="text" name="name">
	</div>
	<div>
		<label for="completed">Completed(true/false):</label>
		<input type="text" name="completed">
	</div>
	<div>
		<input type="submit" value="Add To List">
	</div>
</form> -->
